.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lightsalmon;
    height: 60px;
    padding:50px 20px;
   
  }
  
  .navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    align-content: center;
    justify-content: center;
  }
nav > a:hover{
    text-decoration: underline;
}

.navbar-image {
    width: 100px; 
    float: left;
  }
